.gg-nav-logo {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.gg-nav-logo img {
  height: 6rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gg-nav-link-right {
  border-left: 1px solid black;
}

.gg-nav-link {
  color: black;
  font-size: 1.0rem;
}

.gg-nav-link a{
  padding: 0px;
}

.gg-nav-link:hover {
  color: #648c31;
}

.menu li a {
  padding-top:0px;
  padding-bottom: 0px;
}

.menu li a.active {
  color: #648c31;
}

.gg-home-image {
  height: 400px;
  background: url("/img/cover.jpg") no-repeat center center fixed;
  background-size: cover;
}

.gg-padder {
  height: 1.5rem;
}

.gg-home-text {
  text-align: center;
}

.gg-home-quote {
  font-style: italic;
  color: grey;
}

.gg-home-line {
  height: 1.2px;
  background-color: lightgrey;
}

.overlay {
  background:transparent;
   position:relative;
   width:100%;
   height:480px; /* your iframe height */
   top:480px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
}
